/* Subset: English-Spanish-Catalan */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"), url("../fonts/IBMPlexSans-Bold-English-Spanish-Catalan.woff2") format("woff2");
}

/* Subset: English-Spanish-Catalan */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("../fonts/IBMPlexSans-BoldItalic-English-Spanish-Catalan.woff2") format("woff2");
}

/* Subset: English-Spanish-Catalan */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url("../fonts/IBMPlexSans-Italic-English-Spanish-Catalan.woff2") format("woff2");
}

/* Subset: English-Spanish-Catalan */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/IBMPlexSans-Regular-English-Spanish-Catalan.woff2") format("woff2");
}
/* TODO: aplicar las 5 reglas de la tipografía de Butterick */
html {
  /*TMP:*/
  max-width: 75ch;
  margin: auto;
  font-family: 'IBM Plex Sans';
}
